*{
    box-sizing: border-box;
	font-family: "helvetica", sans-serif;
	margin: 0px ;
}
img {
	display: block;
	max-width: 100%;
	height: auto;
}
.header {
	width: 100%
	margin:0;
	}
.header ul {
	max-width:100%;
	margin:0 auto;
	text-align:center;
	background-color:black;
}
.header li {
	 display:inline-block;
	 text-align:center;
	 color:white;
	 padding:10px;
	 list-style:none;
	}
.wrap{
	max-width:960px;
	width: 100%;
	margin:0 auto;
	/*border:1px solid green;*/
	overflow:hidden;
}
.wrap-second {
	overflow: hidden;
	max-width: 912px;
	width: 100%;
}
.c-100 {
	width:100%;
	padding: 10px 5px;
	margin-bottom:5px;

}

.prva img {float:left;margin-right:2%;
width:15%;}
.prva h2 span{color:#08c1bb}
/*.cetvrta{padding-left:5%; }*/
.f-l {
	float: left;
}
.images {
	overflow: hidden;
}
.c-40{
	/*float:left;*/
	/*background-color:coral;*/
	width:40%;	
	/*margin:1px 0px;}*/
	}
.c-60{
	/*margin-left: 3%;*/
	/*float:right;*/
	/*background-color:coral;*/
	width:60%;
	padding-left: 2%;	
	/*margin:1px 0;*/
}
/*.c-75{
	float:left;
	width:75%;
	padding:5px;
}*/
.part h2{
	color:black;
	margin:0px;
	border-bottom: 0px;
	font-size: 22px
	}
.part h2 span{
	color:#08c1bb;
}
.part h3{
	color:black;
	margin:0px;
	border-bottom: 0px;
	font-size: 18px
}
.part h3 span{
	font-size:16px;
	color:black;
	}
.part p {
	margin:10px 0 0;
	font-size: 12px;
}
.part p span {padding: 20px;}
.main a {color:white;}
a{
	color:#08c1bb;
	display:block;
	margin:5px 0 25px;
	font-size: 14px;
}
.btn-div {
	text-align: center;
}
.btn {
  cursor: pointer;
  display: inline-block;
  padding: 3px;
  color: #08c1bb;
  font-size: 14px;
  line-height: 2;
  border: 1px solid #ddd;
  border-radius: 8px;
}
.druga {
	padding-right: 30%;
}
@media (min-device-width: 768px) and (max-device-width: 1024px) {
 .wrap {
	background-color: coral;
	padding:2%;
	}
	.c-75{
	width:100%;
	padding:0;	
	}
}

@media screen and (max-device-width:767px){
	.wrap{	
		background-color:yellow;
		padding: 3%;
		float:none;
	}
	.c-75{width:100%}
	.c-40{width:100%;}
	.c-60{width:100%;}
}
@media (min-width:1025px){
.prva {padding-left:25%;}

	.wrap-second {
		padding-left: 5%;
	}
}
